
// Colors Popup
@gray: #828A99;
@gray3: #f1f1f1;
@red: #F56151;
@green: #6AD969;
@blue: #65CAE2;


// GLOBAL
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: @gray;
  background: #FFF;
  * {
    box-sizing: border-box;
  }
}


.container-popup {
  width: 250px;
  background: #FFF;
}

.b-state {
  margin-bottom: 2px;
  padding: 15px 10px 15px 40px;
  position: relative;
  .state__label {
    color: #222;
  }
  .state__text {
    color: #222;
  }
  .state__domain {
    text-decoration: underline;
  }
}


.b-go-manager {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  background: @gray;
  transition: .3s;
  &:hover {
    background: darken(@gray, 5%);
    transition: .3s;
  }
}
