html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #828A99;
  background: #FFF;
}
body * {
  box-sizing: border-box;
}
.container-popup {
  width: 250px;
  background: #FFF;
}
.b-state {
  margin-bottom: 2px;
  padding: 15px 10px 15px 40px;
  position: relative;
}
.b-state .state__label {
  color: #222;
}
.b-state .state__text {
  color: #222;
}
.b-state .state__domain {
  text-decoration: underline;
}
.b-go-manager {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  background: #828A99;
  transition: .3s;
}
.b-go-manager:hover {
  background: #747d8e;
  transition: .3s;
}
